%h1 Analatyics
.row
  - @visits.each do |visited_url|
    %h3= visited_url.original
    %h5= mini_url(checksum: visited_url.checksum)
    %p Total Clicks : #{visited_url.visits_count}
    %p ip : #{visited_url.visits.map(&:ip).join(', ')}